*.[oa]
*~
*.so
*.bak
*.pyc
*-orig
*-sav
foo*
goo*
node.log
js9node.log
Makefile
!astroem/Makefile
!util/Makefile
conf.h
config.status
config.log
config.cache
debug.html
ofitsy.js
TODO
BUGS
tpos
js9helper
js9
js9helper.pc
.DS_Store
js/.DS_Store
astroem/.DS_Store
a.out.dSYM/
cfitsio/
fits/
hera/
blend/
kes75/
m13/
nan/
net/
notes/
orion/
old/
reproj/
talks/
tmp/
/png
png/
png-v[0-9]*/
node_modules/socket.io_v*
node_modules/selenium-webdriver*/
rites/
sfs/
svc/
large/
smartx/
smartxNode/
test/
helper-plugins/
