*.[oa]
*~
*.so
*.bak
*-orig
*-sav
foo*
goo*
node.log
Makefile
conf.h
config.status
config.cache
debug.html
ofitsy.js
TODO
BUGS
js9
js9helper.pc
js9Prefs.json
.DS_Store
js/.DS_Store
astroem/.DS_Store
a.out.dSym/
archive/
fits/
hera/
kes75/
nan/
net/
notes/
old/
png/
rites/
sfs/
smartx/
test/
