*.o
*.a
*~
*.so
*.bak
*.pyc
*-orig
*-sav
foo*
goo*
conf.h
config.status
config.log
config.cache
debug*.html
TODO
BUGS
tpos
js9helper
js9helper.pc
.DS_Store
a.out.dSYM
/Makefile
/src/Makefile
/data
/tests2
/notes
/old
/tmp
/talks
