/*
 *
 * JS9 CSS specifications
 *
 */

/* high-level divs used by Web designers */
div.JS9
{
    /* relative pos top/left for container, Flanagan's JavaScript, p 357 */
    position: relative;
    top:  0px;
    left: 0px;
    display: block;
    padding: 0px;
}

/* plugin divs */
div.JS9Panner, div.JS9Magnifier, div.JS9Menubar, div.JS9Console, div.JS9Info
{
    /* relative pos top/left for container, Flanagan's JavaScript, p 357 */
    position: relative;
    top:  0px;
    left: 0px;
    display: block;
    padding: 0px;
}

/* containers used internally to place content inside high-level divs */
div.JS9Container
{
    /* absolute pos top/left for positioning, Flanagan's JavaScript, p 357 */
    position: absolute;
    top:  0px;
    left: 0px;
    outline: none;
    background-color: transparent;
}

/* containers used internally to wrap around div plugin content */
div.JS9PluginContainer
{
    /* background: #E9E9E9; */
    background: transparent;
    position: relative;
    display: inline-block;
    outline: none;
}

/* this is the plugin div itself */
div.JS9Plugin
{
    background: #E9E9E9;
}


/* tell plugin div to scroll on overflow */
div.JS9PluginScrolling
{
    overflow: auto;
}

/* commands and buttons on top of plugins */
div.JS9PluginToolbar-div
{
    /* absolute positioning places the toolbar on the dhtml title bar */
    position:absolute;
    display:inline-block;
    top: 0px;
    overflow: auto;
    cursor: default;
    text-align: center;
    left: 10px;
}

div.JS9PluginToolbar-light
{
    /* absolute positioning places the toolbar on the dhtml title bar */
    position:absolute;
    display:inline-block;
    top: 0px;
    right: 36px;
    overflow: auto;
    text-align: center;
}

div.JS9MenubarContainer
{
    /* absolute pos top/left for positioning, Flanagan's JavaScript, p 357 */
    /* why is this relative?? absolute positions the menu under the canvas!! */
    position: relative;
    /* sigh ... why does this make the menubar too short?? */
    display: block;
    top: 0px;
    left: 0px;
    /* height: 25px; */
    background: lightgrey;
    text-align: center;
    padding: 2px 10px;
}

div.JS9ConsoleContainer
{
    /* absolute pos top/left for positioning, Flanagan's JavaScript, p 357 */
    /* why is this relative?? absolute positions make it tiny!! */
    position: relative;
    display: block;
    top: 0px;
    left: 0px;
    background: #E9E9E9;
    text-align: left;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

/* canvas elements */
canvas.JS9Image, canvas.JS9Panner, canvas.JS9Magnifier, canvas.JS9Info
{
    /* absolute positioning of canvas is required to overlay/align with 
       graphics canvas (which is positioned relative) */
    position:absolute;
    top:  0px;
    left: 0px;
    background: #E9E9E9;
}

/* canvas element for transparent layers */
canvas.JS9Layer
{
    /* absolute positioning of canvas is required to overlay/align with 
       graphics canvas (which is positioned relative) */
    position:absolute;
    top:  0px;
    left: 0px;
    background-color: transparent;
}

/* message display */
div.JS9Message
{
    padding-top: 10px;
    padding-left: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 300;
}

.JS9Button
{
    font: normal 12px Arial;
    padding: 3px;
    margin: 2px;
}

/* prevent firefox from adding extra button padding */
.JS9Button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ipad button font is too large */
@media all and (device-width: 768px) and (device-height: 1024px) {
.JS9Button
{
    font: normal 10px Arial;
    padding: 2px;
    margin: 2px;
}
}

/* the commands inside a console */
.JS9CmdForm
{
    border: 0px;
    padding: 1px;
    font-size: 12px;
    font-family: monospace;
    width:100%;
}

.JS9CmdTable
{
    vertical-align:top;
    width:100%;
}

.JS9CmdTd 
{
    width:100%;
}

.JS9CmdIn, .JS9CmdOut
{
    border: 0px;
    padding-top: 0px;
    padding-left: 4px;
    margin-left: 2px;
    font-size: 12px;
    font-family: monospace;
    width:97%;
    background: #E9E9E9;
}

/* get rid of blue border for input in Safari, Chrome */
input:focus.JS9CmdIn{
    outline: none;
}

.JS9CmdError
{
    border: 0px;
    padding-top: 2px;
    padding-left: 4px;
    margin-left: 2px;
    font-size: 12px;
    font-family: monospace;
    width:100%;
    color: red;
}

.JS9CmdWarning
{
    border: 0px;
    padding-top: 2px;
    padding-left: 4px;
    margin-left: 2px;
    font-size: 12px;
    font-family: monospace;
    width:100%;
    color: yellow;
}

.JS9CmdInfo
{
    border: 0px;
    padding-top: 2px;
    padding-left: 4px;
    margin-left: 4px;
    font-size: 12px;
    font-family: monospace;
    width:100%;
    color: #3333FF;
}

.JS9CmdPrompt
{ 
    color: #777;
    font-size: 12px;
    font-family: monospace;
    white-space:nowrap;
}

.JS9AnalysisText
{
    padding-left: 10px;
}

.JS9Plot
{
    width:  800px;
    height: 400px;
    margin: 10px;
}

.JS9Tooltip{
    position: relative;
    z-index: 999;
    background: #E9E9E9;
    padding: 10px;
    border: 0px;
    display: none;
}

/* context menu overrides */
.context-menu-list 
{
    border: 1px solid black;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    background-color: #E9E9E9;
}

/* jqueryContextMenu v2.2 */
.context-menu-icon-sun:before {
   content: url(images/sun.png);
}

.context-menu-item {
    background-color: #E9E9E9;
}

.context-menu-item.context-menu-disabled {
    color: #AAA;
    cursor: default; 
    background-color: #E9E9E9;
}

.context-menu-separator
{
    border-bottom: 1px solid #AAA;
}

.context-menu-input > label
{
   margin-left: 18px;
}

.context-menu-input > label > input[type="text"]
{
   width: 80%;
   padding: 2px;
}

/* jqueryContextMenu pre-v2.2 */
.pre-v2.2-context-menu-item.icon-sun {
   background-image: url(images/sun.png);
}

/* jqueryContextMenu pre-v2.2 */
.pre-v2.2-context-menu-input > label > span {
    margin-left: 0px;
}

/* jqueryContextMenu pre-v2.2 */
.pre-v2.2-context-menu-submenu:after {
    content: "\2192";
    color: black;
    position: absolute;
    right: 5px;
}

/* dhtml window overrides */
.dhtmlwindow
{
    border: 1px solid grey;
    padding: 0px;
}

.drag-handle
{
    /* height: 25px; */
    height: 30px;
    background: lightgrey;
    text-align: left;
    color: black;
    font-size: 14px;
    font-weight: normal;
}

.drag-contentarea
{
    background: #E9E9E9;
    border-width: 0px;
    padding: 0px;
}

.indentmenu{
    font: normal 11px Arial;
}

.indentmenu ul{
    border-top: 0px;
    background: black url(./images/indentbg_grey.png) center center repeat-x;
}

.indentmenu ul li a{
    border-right: 2px solid #E9E9E9;
    padding-left: 10px;
    padding-right: 10px;
}

.indentmenu ul li a.selected{
    background: black url(./images/indentbg2_grey.png) center center repeat-x;
}

/* 3d surface plot bug */
canvas.surfacePlotCanvas {
    position: absolute;
}

/* js9 info */
.js9InfoTable
{
    border: 0px;
    margin: 0px;
    padding: 8px;
    font-size: 12px;
    font-family: monospace;
    border-spacing: 4px;
}

.js9InfoTable input,  .js9InfoTable textarea{
    font-size: 12px;
    font-family: monospace;
    overflow-x: hidden;
}

/* js9Analysis forms */
.js9AnalysisForm
{
    border: solid grey 1px;
    margin: 8px;
    padding: 8px;
    background: #E9E9E9;
}

.JS9Archive-form {
    background: #E9E9E9;
    padding: 8px;
}

.linegroup
{
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 24px;
    padding: 0;
    margin: 0 0 1.25em 0;
}

.column_A
{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}

.column_B
{
    position: absolute;
    top: 0;
    left: 300px;
    width: 100px;
}

.text_B
{
    width: 100px;
}

.column_C
{
    position: absolute;
    top: 0;
    left: 450px;
    width: 340px;
}

.column_R1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
}

.column_R2
{
    position: absolute;
    top: 0;
    left: 150px;
    width: 100px;
}

.column_R2l
{
    position: absolute;
    top: 0;
    left: 150px;
    width: 250px;
}

.column_R2L
{
    position: absolute;
    top: 0;
    left: 150px;
    width: 400px;
}

.column_R3
{
    position: absolute;
    top: 0;
    left: 300px;
    width: 100px;
}

.column_R3l
{
    position: absolute;
    top: 0;
    left: 300px;
    width: 150px;
}

.column_R3L
{
    position: absolute;
    top: 0;
    left: 300px;
    width: 300px;
}

.column_R4
{
    position: absolute;
    top: 0;
    left: 450px;
    width: 100px;
}

.column_R4l
{
    position: absolute;
    top: 0;
    left: 450px;
    width: 250px;
}

.column_R5
{
    position: absolute;
    top: 0;
    left: 600px;
    width: 200px;
}

.text_R
{
    width: 100%;
}

.nodisplay
{
  display: none;
}

.control
{
    border: transparent 1px;
    padding: 2px;
} 

.js9HelpText
{
    border: solid grey 1px;
    margin: 8px;
    padding: 8px;
    background: #E9E9E9;
}

.hline0
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
}

/* to make wait cursor override other element cursors (e.g. fabric.js canvas) */
body.waiting, body.waiting *
{ 
    cursor: wait !important;
}
